:root{
    --primary: #00C1D3;
    --primary-dark: #00c1d349;
    --secondary: black;
    --ligth: #f0f0f0;
    --medium: #cacaca;
    --dark: #a2a2a2;
    --secondary-dark: #022D34;
    --card1: #88d7d6;
    --card2: #69A9A5;
    --card3: #108999;
    --ligth-clean: #F2F2F2;
    --white: #FFFFFF;

    /*PALETA DE CORES*/
    --color1: #5897a6;
    --color2: #29cadb;
    --color3: #8fd9e3;
    --color4: #D4D4D4;
    --color5: #727678;
    --color6: #355363;
    --color7: #446A7F;
    --color8: #588AA6;
    --color9: #70B1D4;
    --color10: #87D5FF;
}