:root{
    --primary: #00C1D3;
    --primary-dark: #00c1d349;
    --secondary: black;
    --ligth: #f0f0f0;
    --medium: #cacaca;
    --dark: #a2a2a2;
    --secondary-dark: #022D34;
    --card1: #88d7d6;
    --card2: #69A9A5;
    --card3: #108999;
    --ligth-clean: #F2F2F2;
    --white: #FFFFFF;
}