body, html{
    font-family: 'Roboto', sans-serif;
}

#logo{
    max-width: 260px;
}

#header{
    width: 100%;
    background-color: transparent;
    transition: background ease .2s;
}

#header.active{
    position: fixed;
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.2);
    z-index: 9999;
}

#header .navbar-collapse{
    width: auto;
    justify-content: end;
}

#header .nav-link{
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    border-bottom: solid 4px transparent;
}

#header .nav-link:hover{
    border-bottom: solid 4px var(--primary);
    color: var(--secundary);
}

/* #slider{
    background: url(../assets/) no-repeat center bottom;
    background-size: contain;
} */

#slider h1{
    text-transform: uppercase;
    font-weight: 700;
}

#slider h4{
    font-size: 18px;
    text-transform: uppercase;
}

#parceiros a.link-parceiro{
    padding: 0 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--ligth);
    height: 100px;
    transition: ease-out all 0.2s;
}

#parceiros a.link-parceiro:hover{
    transform: scale(1.2);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
}

#parceiros a.link-parceiro img{
    filter: grayscale(100%);
    max-height: 70px;
    width: 100%;
    opacity: 0.6;
}

#parceiros a.link-parceiro:hover img{
    filter: none;
    opacity: 1;
}   

#contato{
    background-color: var(--primary);
    color:#fff;
}

#contato-social-box{
    display: flex;
    justify-content: left;
    border: 0px solid red;
    width: 70%;
    box-sizing: border-box;
}

#contato-social-box img.logo-instagram{
    width: 30px;
}
#contato-social-box img.logo-facebook{
    width: 14px;
    margin-left: 10px;
}
