h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}

.title{
    text-transform: uppercase;
}

.title-center{
    text-transform: uppercase;
    text-align: center;
}

.title-white{
    text-transform: uppercase;
    color: var(--white);
    text-align: center;
}

.title-contato{
    text-transform: uppercase;
    border-bottom: 2px solid white;
    margin-top: 20px;
}

.subtitle{
    color: var(--medium);
    font-weight: 400;
}

.block{
    margin-bottom: 120px;
}

.block-color{
    padding-bottom: 6%;
}

.button{
    font-weight: 500;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
}

.button-primay{
    background-color: var(--primary);
    border-color: var(--primary);
}

.button-primay:hover{
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

.button-primay-outline{
    border-color: var(--primary);
    color: var(--primary);
}

.button-primay-outline:hover{
    background-color: var(--primary-dark);
    border-color: var(--primary-dark);
}

li{
    list-style-type: none;
}

ul{
    margin-left: -30px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: transparent;
}