/* MIN WIDTH */
@media (min-width: 992px){
    #header .nav-link{
        margin-left: 15px;
        margin-right: 15px;
    }

    #parceiros a.link-parceiro{
        text-align: center;
    }

    #logo-contato{
        width: 100%;
    }

    #doacao .doacao-unica{
        height: 323px;
    }

    #doacao .doacao-mensal{
        height: 323px;
    }

    #doacao .doacao-pix{
        height: 323px;
    }


}

/* MAX MEDIUM */
@media (max-width: 991.98px){
    #header .navbar-collapse{
        width: 100%;
    }

    #header .nav-link{
        margin-left: 50px;
        margin-right: 15px;
    }

    #parceiros a.link-parceiro{
        width: 100%;
        margin-left: 0
    }

    #contato-social-box{
        margin-bottom: 30px;
    }

    #logo-contato{
        max-width: 300px;
        margin-left: -10px;
    }

    #doacao .doacao-unica{
        height: 398px;
    }

    #doacao .doacao-mensal{
        height: 398px;
    }

    #doacao .doacao-pix{
        height: 398px;
    }
}